@import "tailwindcss";
.bg-background {
  @apply bg-[#141414];
}
.bg-section-200 {
  @apply bg-[#323234];
}
.bg-section-900 {
  @apply bg-[#272728];
}
.bg-blue-500 {
  @apply bg-[#3454D1];
}
.text-dark {
  @apply text-[#141414];
}
.text-light {
  @apply text-[#EFEFEF];
}
.text-main {
  @apply text-[#f5ed38];
}
.bg-main {
  @apply bg-[#f5ed38];
}
.bg-main-hover {
  @apply bg-[#000000];
}
.bg-light {
  @apply bg-[#EFEFEF];
}

.bg-nav {
  @apply bg-[#34D1BF];
}

::-webkit-scrollbar {
  width: 12px;
  position: absolute;
}

::-webkit-scrollbar-thumb {
  background: rgba(192, 192, 192, 0.393);
  position: absolute;
}
.anton {
  font-family: "Anton", sans-serif;
}
.hanken {
  font-family: "Hanken Grotesk", sans-serif;
}
